In [12]:
from my_utils import my_utils
import pandas as pd
import numpy as np

In [8]:
dfnew = my_utils.collate_period(2015)
dfnew.index

Index(['Afghanistan', 'Afghanistan', 'Afghanistan', 'Albania', 'Albania',
       'Albania', 'Algeria', 'Algeria', 'Algeria', 'Angola',
       ...
       'Nauru', 'Nauru', 'Nauru', 'Niue', 'Niue', 'Niue', 'San Marino',
       'San Marino', 'San Marino', 'Tuvalu'],
      dtype='object', name='Location', length=572)

In [3]:
dfnew.loc['Algeria', :]

,Life expectancy at birth (years),Healthy life expectancy (HALE) at birth (years),Maternal mortality ratio (per 100 000 live births),Births attended by skilled health personnel (%),Infant mortality rate (probability of dying between birth and age 1 per 1000 live births),Neonatal mortality rate (per 1000 live births),Under-five mortality rate (probability of dying by age 5 per 1000 live births),Malaria incidence (per 1 000 population at risk),Incidence of tuberculosis (per 100 000 population per year),Hepatitis B surface antigen (HBsAg) prevalence among children under 5 years (%),...,Age-standardized prevalence of current tobacco smoking among persons aged 15 years and older,"Medical doctors (per 10,000)","Nursing and midwifery personnel (per 10,000)","Dentists (per 10,000)","Pharmacists (per 10,000)",Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),Population using safely managed sanitation services (%),Population with basic handwashing facilities at home (%),Proportion of population with primary reliance on clean fuels and technologies (%)
Location,,,,,,,,,,,,,,,,,,,,,
Algeria,76.54,65.67,114 [67-199],NaN,20.22 [19.74-20.73],15.05 [14.4-15.68],23.72 [23.16-24.3],0.0,75 [57-94],0.22 [0.12-0.34],...,1.5,NaN,NaN,NaN,NaN,88.69,82.21,20.79,73.07,95.0
Algeria,75.65,65.67,114 [67-199],NaN,20.22 [19.74-20.73],15.05 [14.4-15.68],23.72 [23.16-24.3],0.0,75 [57-94],0.22 [0.12-0.34],...,1.5,NaN,NaN,NaN,NaN,88.69,82.21,20.79,73.07,95.0
Algeria,77.50,65.67,114 [67-199],NaN,20.22 [19.74-20.73],15.05 [14.4-15.68],23.72 [23.16-24.3],0.0,75 [57-94],0.22 [0.12-0.34],...,1.5,NaN,NaN,NaN,NaN,88.69,82.21,20.79,73.07,95.0

In [4]:
dflatest = my_utils.collate_latest()

In [18]:
dflatest[dflatest['Life expectancy at birth (years)'].isnull()]

,Life expectancy at birth (years),Healthy life expectancy (HALE) at birth (years),Maternal mortality ratio (per 100 000 live births),Births attended by skilled health personnel (%),Infant mortality rate (probability of dying between birth and age 1 per 1000 live births),Neonatal mortality rate (per 1000 live births),Under-five mortality rate (probability of dying by age 5 per 1000 live births),Malaria incidence (per 1 000 population at risk),Incidence of tuberculosis (per 100 000 population per year),Hepatitis B surface antigen (HBsAg) prevalence among children under 5 years (%),...,"Medical doctors (per 10,000)","Nursing and midwifery personnel (per 10,000)","Dentists (per 10,000)","Pharmacists (per 10,000)",Proportion of ever-partnered women and girls aged 15-49 years subjected to physical and/or sexual violence by a current or former intimate partner in the previous 12 months,Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),Population using safely managed sanitation services (%),Population with basic handwashing facilities at home (%),Proportion of population with primary reliance on clean fuels and technologies (%)
Location,,,,,,,,,,,,,,,,,,,,,
Andorra,NaN,NaN,NaN,100.0,2.83 [0.81-10.47],1.43 [0.37-5.55],2.97 [0.85-10.97],NaN,7.5 [6.4-8.6],0.08 [0-1.65],...,33.33,40.13,8.21,10.13,NaN,100.00,100.00,100.00,NaN,95.0
Saint Kitts and Nevis,NaN,NaN,NaN,100.0,12.88 [9.2-18.08],10.28 [7.19-14.83],15.36 [10.98-21.58],NaN,1.5 [1.3-1.7],0.38 [0.04-3.06],...,26.76,42.19,3.91,NaN,NaN,98.97,91.61,NaN,NaN,95.0
Dominica,NaN,NaN,NaN,100.0,30.94 [26.8-35.92],28.06 [23.61-33.14],34.67 [31.6-42.36],NaN,16 [14-19],0.39 [0.04-2.66],...,11.19,64.39,0.70,2.58,NaN,96.50,77.89,NaN,NaN,82.0
State of Palestine,NaN,NaN,NaN,99.6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marshall Islands,NaN,NaN,NaN,92.4,26.39 [16.95-39.9],15.31 [8.77-26.21],31.81 [19.82-50.58],NaN,483 [370-611],1.56 [0.99-2.41],...,4.23,33.39,1.19,0.71,27.3,86.70,83.49,NaN,82.5,65.0
Niue,NaN,NaN,NaN,100.0,19.69 [8.22-44.76],12.53 [4.74-33.18],23.18 [9.6-57.67],NaN,0 [0-0],0.24 [0.01-5.39],...,18.75,125.00,12.50,6.25,NaN,98.20,96.77,NaN,NaN,84.0
Tuvalu,NaN,NaN,NaN,93.1,NaN,16.03 [8.51-30.92],NaN,NaN,296 [253-342],0.7 [0.23-1.56],...,9.11,42.59,NaN,NaN,25.0,98.78,84.08,6.32,NaN,43.0
Cook Islands,NaN,NaN,NaN,100.0,6.51 [3.84-11.09],4.12 [2.08-7.71],7.62 [4.49-12.88],NaN,13 [11-15],0.22 [0.01-4.98],...,14.12,67.43,3.42,0.57,5.6,99.88,97.63,NaN,NaN,77.0
Nauru,NaN,NaN,NaN,97.4,25.7 [14.59-43.34],19.94 [10.07-37.65],30.91 [16.98-55.58],NaN,182 [155-210],2.11 [1.4-3.05],...,13.46,76.64,3.70,1.92,NaN,99.48,65.60,NaN,NaN,90.0
Palau,NaN,NaN,NaN,100.0,15.78 [8.04-30.63],9.36 [4.21-19.84],17.33 [8.83-33.63],NaN,38 [33-44],0.21 [0.01-3.83],...,14.21,72.63,2.22,1.11,7.8,100.00,100.00,NaN,NaN,95.0
San Marino,NaN,NaN,NaN,NaN,1.49 [0.78-2.9],0.78 [0.27-1.72],1.68 [0.87-3.26],NaN,0 [0-0],0.32 [0.01-11.32],...,61.09,82.07,6.69,6.69,NaN,100.00,100.00,77.23,NaN,95.0
"Germany, Federal Republic (former)",NaN,NaN,NaN,NaN,7.4 [7.27-7.54],3.26 [3.13-3.4],9.03 [8.86-9.2],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Monaco,NaN,NaN,NaN,NaN,2.53 [1.74-3.7],1.7 [0.94-2.79],3.1 [2.14-4.54],NaN,0 [0-0],0.2 [0.01-2.94],...,75.07,201.60,10.19,26.27,NaN,100.00,100.00,100.00,NaN,95.0
Kiribati (until 1984),NaN,NaN,NaN,NaN,83.54 [72.67-96.21],NaN,118.2 [101.1-138.3],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
India (until 1975),NaN,NaN,NaN,NaN,133.8 [128.6-139.5],81.09 [75.77-86.86],199 [190.7-208],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Viet Nam (former),NaN,NaN,NaN,NaN,50.39 [46.47-54.75],27.18 [22.78-31.94],75.05 [68.17-82.77],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yemen Arab Republic (until 1990),NaN,NaN,NaN,NaN,NaN,44.35 [40.42-48.67],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
dflatest.dropna(subset=['Life expectancy at birth (years)'])

,Life expectancy at birth (years),Healthy life expectancy (HALE) at birth (years),Maternal mortality ratio (per 100 000 live births),Births attended by skilled health personnel (%),Infant mortality rate (probability of dying between birth and age 1 per 1000 live births),Neonatal mortality rate (per 1000 live births),Under-five mortality rate (probability of dying by age 5 per 1000 live births),Malaria incidence (per 1 000 population at risk),Incidence of tuberculosis (per 100 000 population per year),Hepatitis B surface antigen (HBsAg) prevalence among children under 5 years (%),...,"Medical doctors (per 10,000)","Nursing and midwifery personnel (per 10,000)","Dentists (per 10,000)","Pharmacists (per 10,000)",Proportion of ever-partnered women and girls aged 15-49 years subjected to physical and/or sexual violence by a current or former intimate partner in the previous 12 months,Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),Population using safely managed sanitation services (%),Population with basic handwashing facilities at home (%),Proportion of population with primary reliance on clean fuels and technologies (%)
Location,,,,,,,,,,,,,,,,,,,,,
Burkina Faso,62.70,54.86,320 [220-454],79.8,53.94 [43.2-67.88],25.94 [16.6-38.83],87.54 [63.92-120.9],398.70,47 [30-67],4.29 [3.03-5.77],...,0.85,8.83,0.046,0.13,10.3,34.99,19.40,NaN,11.88,10.0
Ethiopia,68.70,59.89,401 [298-573],27.7,36.55 [31.16-42.82],27.62 [22.37-34.16],50.74 [41.61-61.66],31.81,140 [98-188],2.61 [1.9-3.37],...,0.77,7.14,0.160,0.36,24.3,31.07,7.32,3.81,7.96,5.0
India,70.79,60.33,145 [117-177],81.4,28.26 [25.52-30.94],21.66 [19.21-24.1],34.27 [30.66-37.94],5.33,193 [132-266],0.51 [0.38-0.65],...,8.57,17.27,1.990,8.87,17.6,91.00,59.54,39.05,59.55,49.0
Trinidad and Tobago,76.13,66.23,67 [50-90],100.0,NaN,11.53 [4.89-27.89],NaN,NaN,18 [15-21],0.43 [0.05-3.53],...,41.68,40.93,3.180,6.64,7.2,98.18,93.40,NaN,89.44,95.0
Republic of Korea,83.30,73.06,11 [9-13],100.0,2.73 [2.58-2.88],1.54 [1.38-1.71],3.19 [3.02-3.37],0.14,59 [55-63],0.69 [0.49-0.94],...,23.61,73.01,4.950,7.24,NaN,99.79,100.00,99.90,NaN,95.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Russian Federation,73.23,64.21,17 [13-23],99.7,4.93 [4.77-5.09],2.63 [2.22-3.03],5.77 [5.58-5.95],NaN,50 [32-71],0.88 [0.58-1.26],...,37.49,85.43,2.840,0.49,NaN,92.62,90.48,61.31,NaN,90.0
Fiji,68.01,59.59,34 [27-43],99.8,21.68 [19.52-24.08],10.84 [8.98-12.96],25.69 [22.97-28.79],NaN,66 [51-84],0.34 [0.21-0.52],...,8.60,33.75,1.200,1.09,47.2,88.70,95.07,NaN,NaN,28.0
Indonesia,71.31,62.83,177 [127-254],94.7,20.24 [17.14-24.13],12.41 [10.22-15.19],23.88 [20.05-28.85],3.87,312 [285-341],1.07 [0.69-1.55],...,4.27,24.15,0.570,0.85,NaN,81.98,73.13,NaN,64.20,80.0
Côte d’Ivoire,62.92,54.81,617 [426-896],73.6,NaN,NaN,NaN,330.60,137 [88-197],3.04 [2.01-4.39],...,2.31,6.05,0.150,1.07,19.1,57.83,32.13,NaN,19.35,29.0
Gabon,66.47,57.56,252 [165-407],89.3,31.15 [20.57-45.54],20.25 [12.23-33.23],42.46 [26.6-67.82],248.20,521 [337-744],4.16 [2.99-5.67],...,6.82,29.46,0.210,0.59,40.3,55.05,47.41,NaN,NaN,87.0