In [1]:
# Tried to auto-check PEP8 but program crashes with a bug
# %load_ext pycodestyle_magic
# %pycodestyle_on
# %pycodestyle_off

In [2]:
import os
import re
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Names of all csv files
all_files = [
    'lifeExpectancyAtBirth', 'HALElifeExpectancyAtBirth',
    'maternalMortalityRatio', 'birthAttendedBySkilledPersonal',
    'infantMortalityRate', 'neonatalMortalityRate',
    'under5MortalityRate', 'incedenceOfMalaria',
    'incedenceOfTuberculosis', 'hepatitusBsurfaceAntigen',
    'interventionAgianstNTDs', 'newHivInfections',
    '30-70cancerChdEtc', 'crudeSuicideRates',
    'AlcoholSubstanceAbuse', 'roadTrafficDeaths',
    'reproductiveAgeWomen', 'adolescentBirthRate',
    'uhcCoverage', 'dataAvailibilityForUhc',
    'population10SDG3.8.2', 'population25SDG3.8.2',
    'airPollutionDeathRate', 'mortalityRateUnsafeWash',
    'mortalityRatePoisoning', 'tobaccoAge15',
    'medicalDoctors', 'nursingAndMidwife',
    'Dentists', 'Pharmacists',
    'eliminateViolenceAgainstWomen', 'basicDrinkingWaterServices',
    'atLeastBasicSanitizationServices', 'safelySanitization',
    'basicHandWashing', 'cleanFuelAndTech',
]

In [4]:
class DataAnalysis():
    """Utility class for data analysis tools."""
    def __init__(self):
        # RE expression for bracketed information within the dataset.
        self.rebrackets = re.compile(r'\[[\d.]+\-[\d.]+\]')

    def get_data(self, fname):
        # Utility function that takes file name and returns a dataframe.
        dfnew = pd.read_csv(os.path.join('dataset', f"{fname}.csv"))
        return dfnew

    def remove_brackets(self, numstr):
        # Utility function to remove brackets from a value
        # if the value is string.
        try:
            re_match = self.rebrackets.search(numstr)
            try:
                numstr = numstr[:re_match.start()].strip()
                return float(numstr)
            except AttributeError:
                return np.nan
        except TypeError:
            return numstr

    def column_info(self, df):
        # Utility function to print column general info.
        print(f"TOTAL - {len(df)}")
        for col in df.columns:
            colset = set(df[col])
            colset_len = len(colset)
            print(f"{col}: {colset_len}")
            if pd.api.types.is_numeric_dtype(df[col]):
                print(' - '.join((
                    '',
                    str(df[col].min()),
                    str(df[col].median()),
                    str(df[col].max())
                    )))
            if colset_len < 10:
                for colset_ele in colset:
                    print(f" - {colset_ele}: {sum(df[col] == colset_ele)}")

    def index_change(self, df, cols=['Period'], values=[None]):
        # Index change while filtering into one entry per index.
        for col, value in zip(cols, values):
            if value == None:
                df = df[df[col] == df[col].max()]
            else:
                df = df[df[col] == value]
        return df.set_index('Location')
    
    def simplify_df(self, df):
        # Utility function to simplify dataframe and
        # only retain one data column.
        col_str = df['Indicator'][0]
        df = df[['First Tooltip']]
        df.columns = [col_str]
        return df

In [5]:
da = DataAnalysis()

In [6]:
df = da.get_data('cleanFuelAndTech')
da.column_info(df)
df.head()

TOTAL - 3610
Location: 191
Indicator: 1
 - Proportion of population with primary reliance on clean fuels and technologies (%): 3610
Period: 19
 - 2000 - 2009.0 - 2018
First Tooltip: 91
 - 5 - 81.0 - 95

,Location,Indicator,Period,First Tooltip
0,Afghanistan,Proportion of population with primary reliance...,2018,37
1,Afghanistan,Proportion of population with primary reliance...,2017,34
2,Afghanistan,Proportion of population with primary reliance...,2016,31
3,Afghanistan,Proportion of population with primary reliance...,2015,29
4,Afghanistan,Proportion of population with primary reliance...,2014,27

In [7]:
# Choosing one set of data per location
print('lifeExpectancyAtBirth')
df_life = da.index_change(da.get_data(
    'lifeExpectancyAtBirth'), ['Period', 'Dim1'],
    [None, 'Both sexes'])
da.column_info(df_life)
print('\ncleanFuelAndTech')
df_clean = da.index_change(da.get_data('cleanFuelAndTech'))
da.column_info(df_clean)
print('\nbasicDrinkingWaterServices')
df_drinking = da.index_change(da.get_data(
    'basicDrinkingWaterServices'))
da.column_info(df_drinking)
print('\natLeastBasicSanitizationServices')
df_sanitation = da.index_change(da.get_data(
    'atLeastBasicSanitizationServices'), ['Period', 'Dim1'],
    [None, 'Total'])
da.column_info(df_sanitation)

lifeExpectancyAtBirth
TOTAL - 183
Period: 1
 - 2019 - 2019.0 - 2019
 - 2019: 183
Indicator: 1
 - Life expectancy at birth (years): 183
Dim1: 1
 - Both sexes: 183
First Tooltip: 175
 - 50.75 - 73.74 - 84.26

cleanFuelAndTech
TOTAL - 190
Indicator: 1
 - Proportion of population with primary reliance on clean fuels and technologies (%): 190
Period: 1
 - 2018 - 2018.0 - 2018
 - 2018: 190
First Tooltip: 54
 - 5 - 84.0 - 95

basicDrinkingWaterServices
TOTAL - 190
Period: 1
 - 2017 - 2017.0 - 2017
 - 2017: 190
Indicator: 1
 - Population using at least basic drinking-water services (%): 190
First Tooltip: 144
 - 22.83 - 92.265 - 100.0

atLeastBasicSanitizationServices
TOTAL - 188
Indicator: 1
 - Population using at least basic sanitation services (%): 188
Period: 1
 - 2017 - 2017.0 - 2017
 - 2017: 188
Dim1: 1
 - Total: 188
First Tooltip: 167
 - 7.32 - 89.065 - 100.0

In [8]:
df_life = da.simplify_df(df_life)
df_clean = da.simplify_df(df_clean)
df_drinking = da.simplify_df(df_drinking)
df_sanitation = da.simplify_df(df_sanitation)

In [9]:
#< ---- 20 char ---->< ---- 20 char --->< ---- 20 char ---><9 char->
df = pd.concat([df_life, df_clean, 
                df_drinking, df_sanitation], axis=1)

In [10]:
df[df.isnull().sum(axis=1) > 0]

,Life expectancy at birth (years),Proportion of population with primary reliance on clean fuels and technologies (%),Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%)
Argentina,76.58,95.0,99.64,NaN
Brunei Darussalam,74.32,95.0,99.90,NaN
Bulgaria,75.07,NaN,98.05,86.00
Central African Republic,53.10,5.0,NaN,NaN
Cuba,77.76,NaN,90.31,92.81
Eritrea,64.08,9.0,NaN,NaN
Lebanon,76.44,NaN,92.60,98.48
Libya,75.78,NaN,98.53,100.00
Andorra,NaN,95.0,100.00,100.00
Cook Islands,NaN,77.0,99.88,97.63
Dominica,NaN,82.0,NaN,NaN
Marshall Islands,NaN,65.0,86.70,83.49
Monaco,NaN,95.0,100.00,100.00
Nauru,NaN,90.0,99.48,65.60
Niue,NaN,84.0,98.20,96.77
Palau,NaN,95.0,100.00,100.00
Saint Kitts and Nevis,NaN,95.0,NaN,NaN
San Marino,NaN,95.0,100.00,100.00
Tuvalu,NaN,43.0,98.78,84.08

In [11]:
# Remove rows with NAN values.
incomplete_rows = df[df.isnull().sum(axis=1) > 0].index
df = df.drop(incomplete_rows)
# Store full column names just in case.
col_full = df.columns
df.columns = ['Life expectancy', 'Clean technologies',
             'Drinking-water', 'Sanitation']

In [12]:
df

,Life expectancy,Clean technologies,Drinking-water,Sanitation
Afghanistan,63.21,37.0,57.32,43.42
Albania,78.00,80.0,89.88,97.72
Algeria,77.13,95.0,88.69,87.59
Angola,63.06,48.0,27.44,49.88
Antigua and Barbuda,76.45,95.0,96.74,87.50
...,...,...,...,...
Venezuela (Bolivarian Republic of),73.95,95.0,95.72,93.94
Viet Nam,73.74,64.0,92.64,83.52
Yemen,66.63,60.0,54.70,59.05
Zambia,62.45,13.0,41.95,26.37
Zimbabwe,60.68,29.0,49.80,36.22

In [13]:
# Linear regression on the four columns.
from sklearn.linear_model import LinearRegression

In [14]:
X = df.drop('Life expectancy', axis=1)
y = df[['Life expectancy']]
reg = LinearRegression().fit(X, y)
reg.score(X, y)

0.7224114226667779

In [15]:
reg.coef_

array([[0.0615704 , 0.11546261, 0.05591629]])

In [16]:
reg.intercept_

array([55.12865485])

In [17]:
df.loc['Zimbabwe']

Life expectancy       60.68
Clean technologies    29.00
Drinking-water        49.80
Sanitation            36.22
Name: Zimbabwe, dtype: float64

In [18]:
reg.predict([df.drop('Life expectancy', axis=1).loc['Zimbabwe']])

array([[64.6895228]])

In [23]:
for filename in all_files:
    print(filename)
    da.column_info(da.get_data(filename))

lifeExpectancyAtBirth
TOTAL - 2197
Location: 184
Period: 5
 - 1920 - 2010.0 - 2019
 - 1920: 1
 - 2019: 549
 - 2000: 549
 - 2010: 549
 - 2015: 549
Indicator: 1
 - Life expectancy at birth (years): 2197
Dim1: 3
 - Both sexes: 733
 - Male: 732
 - Female: 732
First Tooltip: 1580
 - 27.97 - 71.83 - 86.94
HALElifeExpectancyAtBirth
TOTAL - 2196
Location: 184
Period: 4
 - 2000 - 2012.5 - 2019
 - 2000: 549
 - 2010: 549
 - 2019: 549
 - 2015: 549
Indicator: 1
 - Healthy life expectancy (HALE) at birth (years): 2196
Dim1: 3
 - Both sexes: 732
 - Male: 732
 - Female: 732
First Tooltip: 1492
 - 25.37 - 63.11 - 75.48
maternalMortalityRatio
TOTAL - 3294
Location: 184
Period: 18
 - 2000 - 2008.5 - 2017
Indicator: 1
 - Maternal mortality ratio (per 100 000 live births): 3294
First Tooltip: 2421
birthAttendedBySkilledPersonal
TOTAL - 1755
Location: 186
Period: 20
 - 2000 - 2009.0 - 2019
Indicator: 1
 - Births attended by skilled health personnel (%): 1755
First Tooltip: 348
 - 5.7 - 99.0 - 100.0
infantMortalityRate
TOTAL - 29999
Location: 177
Period: 70
 - 1950 - 1990.0 - 2019
Indicator: 1
 - Infant mortality rate (probability of dying between birth and age 1 per 1000 live births): 29999
Dim1: 3
 - Both sexes: 10000
 - Male: 10000
 - Female: 9999
First Tooltip: 29803
neonatalMortalityRate
TOTAL - 9135
Location: 198
Period: 69
 - 1951 - 1996.0 - 2019
Indicator: 1
 - Neonatal mortality rate (per 1000 live births): 9135
Dim1: 1
 - Both sexes: 9135
First Tooltip: 9097
under5MortalityRate
TOTAL - 29999
Location: 177
Period: 70
 - 1950 - 1990.0 - 2019
Indicator: 1
 - Under-five mortality rate (probability of dying by age 5 per 1000 live births): 29999
Dim1: 3
 - Both sexes: 10000
 - Male: 10000
 - Female: 9999
First Tooltip: 29869
incedenceOfMalaria
TOTAL - 2033
Location: 108
Indicator: 1
 - Malaria incidence (per 1 000 population at risk): 2033
Period: 19
 - 2000 - 2009.0 - 2018
First Tooltip: 1438
 - 0.0 - 11.15 - 743.5
incedenceOfTuberculosis
TOTAL - 3857
Location: 195
Indicator: 1
 - Incidence of tuberculosis (per 100 000 population per year): 3857
Period: 20
 - 2000 - 2010.0 - 2019
First Tooltip: 1993
hepatitusBsurfaceAntigen
TOTAL - 194
Location: 194
Indicator: 1
 - Hepatitis B surface antigen (HBsAg) prevalence among children under 5 years (%): 194
Period: 1
 - 2015 - 2015.0 - 2015
 - 2015: 194
First Tooltip: 191
interventionAgianstNTDs
TOTAL - 1746
Location: 195
Indicator: 1
 - Reported number of people requiring interventions against NTDs: 1746
Period: 9
 - 2010 - 2014.0 - 2018
 - 2016: 194
 - 2017: 194
 - 2018: 194
 - 2010: 194
 - 2011: 194
 - 2012: 194
 - 2013: 194
 - 2014: 194
 - 2015: 194
First Tooltip: 1235
 - 0 - 61325.0 - 846000000
newHivInfections
TOTAL - 2550
Location: 171
Period: 5
 - 2000 - 2010.0 - 2019
 - 2019: 510
 - 2000: 510
 - 2005: 510
 - 2010: 510
 - 2015: 510
Indicator: 1
 - New HIV infections (per 1000 uninfected population): 2550
Dim1: 3
 - Both sexes: 850
 - Male: 850
 - Female: 850
First Tooltip: 1187
30-70cancerChdEtc
TOTAL - 2745
Location: 184
Period: 5
 - 2000 - 2010.0 - 2016
 - 2016: 549
 - 2000: 549
 - 2005: 549
 - 2010: 549
 - 2015: 549
Indicator: 1
 - Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease: 2745
Dim1: 3
 - Both sexes: 915
 - Male: 915
 - Female: 915
First Tooltip: 339
 - 4.7 - 20.3 - 51.7
crudeSuicideRates
TOTAL - 2745
Location: 184
Period: 5
 - 2000 - 2010.0 - 2016
 - 2016: 549
 - 2000: 549
 - 2005: 549
 - 2010: 549
 - 2015: 549
Indicator: 1
 - Crude suicide rates (per 100 000 population): 2745
Dim1: 3
 - Both sexes: 915
 - Male: 915
 - Female: 915
First Tooltip: 349
 - 0.0 - 5.7 - 93.5
AlcoholSubstanceAbuse
TOTAL - 2787
Location: 188
Period: 5
 - 2000 - 2010.0 - 2018
 - 2018: 564
 - 2000: 549
 - 2005: 549
 - 2010: 561
 - 2015: 564
Indicator: 1
 - Total (recorded+unrecorded) alcohol per capita (15+) consumption: 2787
Dim1: 3
 - Both sexes: 929
 - Male: 929
 - Female: 929
First Tooltip: 1354
 - 0.0 - 4.43 - 31.96
roadTrafficDeaths
TOTAL - 175
Location: 175
Indicator: 1
 - Estimated road traffic death rate (per 100 000 population): 175
Period: 1
 - 2016 - 2016.0 - 2016
 - 2016: 175
First Tooltip: 134
 - 0.0 - 15.9 - 35.9
reproductiveAgeWomen
TOTAL - 119
Location: 119
Indicator: 1
 - Married or in-union women of reproductive age who have their need for family planning satisfied with modern methods (%): 119
Period: 11
 - 2007 - 2014.0 - 2017
First Tooltip: 116
 - 5.6 - 52.9 - 89.8
adolescentBirthRate
TOTAL - 2189
Location: 195
Period: 19
 - 2000 - 2008.0 - 2018
Indicator: 1
 - Adolescent birth rate (per 1000 women aged 15-19 years): 2189
First Tooltip: 882
 - 0.0 - 28.2 - 229.0
uhcCoverage
TOTAL - 366
Location: 183
Indicator: 1
 - UHC index of essential service coverage: 366
Period: 2
 - 2015 - 2016.0 - 2017
 - 2017: 183
 - 2015: 183
First Tooltip: 64
 - 22 - 68.0 - 89
dataAvailibilityForUhc
TOTAL - 183
Location: 183
Indicator: 1
 - Data availability for UHC index of essential service coverage (%): 183
Period: 1
 - 2013-2017: 183
First Tooltip: 29
 - 0.17 - 0.41 - 0.7
population10SDG3.8.2
TOTAL - 1893
Location: 153
Period: 33
 - 1985 - 2007.0 - 2018
Indicator: 1
 - Population with household expenditures on health greater than 10% of total household expenditure or income (SDG 3.8.2) (%): 1893
Dim1: 3
 - Urban: 595
 - Rural: 587
 - Total: 711
First Tooltip: 1205
 - 0.0 - 7.19 - 54.53
population25SDG3.8.2
TOTAL - 1893
Location: 153
Period: 33
 - 1985 - 2007.0 - 2018
Indicator: 1
 - Population with household expenditures on health greater than 25% of total household expenditure or income  ( SDG indicator 3.8.2) (%): 1893
Dim1: 3
 - Urban: 595
 - Rural: 587
 - Total: 711
First Tooltip: 504
 - 0.0 - 1.09 - 22.17
airPollutionDeathRate
TOTAL - 6588
Location: 183
Dim2: 6
 - Ischaemic heart disease: 1098
 - Chronic obstructive pulmonary disease: 1098
 - Total: 1098
 - Lower respiratory infections: 1098
 - Stroke: 1098
 - Trachea, bronchus, lung cancers: 1098
Indicator: 2
 - Ambient and household air pollution attributable death rate (per 100 000 population, age-standardized): 3294
 - Ambient and household air pollution attributable death rate (per 100 000 population): 3294
Period: 1
 - 2016 - 2016.0 - 2016
 - 2016: 6588
Dim1: 3
 - Both sexes: 2196
 - Male: 2196
 - Female: 2196
First Tooltip: 6566
mortalityRateUnsafeWash
TOTAL - 549
Location: 183
Period: 1
 - 2016 - 2016.0 - 2016
 - 2016: 549
Indicator: 1
 - Mortality rate attributed to exposure to unsafe WASH services (per 100 000 population) (SDG 3.9.2): 549
Dim1: 3
 - Both sexes: 183
 - Male: 183
 - Female: 183
First Tooltip: 393
 - 0.004 - 1.29 - 107.0
mortalityRatePoisoning
TOTAL - 2745
Location: 184
Indicator: 1
 - Mortality rate attributed to unintentional poisoning (per 100 000 population): 2745
Period: 5
 - 2000 - 2010.0 - 2016
 - 2016: 549
 - 2000: 549
 - 2005: 549
 - 2010: 549
 - 2015: 549
Dim1: 3
 - Both sexes: 915
 - Male: 915
 - Female: 915
First Tooltip: 559
 - 0.039 - 0.71 - 25.99
tobaccoAge15
TOTAL - 4023
Location: 149
Indicator: 1
 - Age-standardized prevalence of current tobacco smoking among persons aged 15 years and older: 4023
Period: 9
 - 2000 - 2014.0 - 2018
 - 2016: 447
 - 2017: 447
 - 2018: 447
 - 2000: 447
 - 2005: 447
 - 2010: 447
 - 2013: 447
 - 2014: 447
 - 2015: 447
Dim1: 3
 - Both sexes: 1341
 - Male: 1341
 - Female: 1341
First Tooltip: 650
 - 0.0 - 23.9 - 91.0
medicalDoctors
TOTAL - 2506
Location: 194
Period: 29
 - 1990 - 2007.0 - 2018
Indicator: 1
 - Medical doctors (per 10,000): 2506
First Tooltip: 1878
 - 0.13 - 21.28 - 84.22
nursingAndMidwife
TOTAL - 2587
Location: 194
Period: 29
 - 1990 - 2008.0 - 2018
Indicator: 1
 - Nursing and midwifery personnel (per 10,000): 2587
First Tooltip: 2208
 - 0.012 - 37.82 - 1853.0
Dentists
TOTAL - 2134
Location: 191
Period: 30
 - 1990 - 2007.0 - 2019
Indicator: 1
 - Dentists (per 10,000): 2134
First Tooltip: 917
 - 0.001 - 3.5149999999999997 - 20.02
Pharmacists
TOTAL - 1795
Location: 185
Period: 29
 - 1990 - 2008.0 - 2018
Indicator: 1
 - Pharmacists  (per 10,000): 1795
First Tooltip: 872
 - 0.002 - 3.53 - 26.3
eliminateViolenceAgainstWomen
TOTAL - 558
Location: 107
Period: 20
Indicator: 1
 - Proportion of ever-partnered women and girls aged 15-49 years subjected to physical and/or sexual violence by a current or former intimate partner in the previous 12 months: 558
Dim1: 1
 - Female: 558
Dim2: 21
First Tooltip: 289
 - 0.0 - 15.4 - 58.5
basicDrinkingWaterServices
TOTAL - 3455
Location: 195
Period: 18
 - 2000 - 2009.0 - 2017
Indicator: 1
 - Population using at least basic drinking-water services (%): 3455
First Tooltip: 2140
 - 10.13 - 87.65 - 100.0
atLeastBasicSanitizationServices
TOTAL - 9368
Location: 195
Indicator: 1
 - Population using at least basic sanitation services (%): 9368
Period: 18
 - 2000 - 2009.0 - 2017
Dim1: 3
 - Urban: 2992
 - Rural: 2937
 - Total: 3439
First Tooltip: 4841
 - 1.19 - 82.5 - 100.0
safelySanitization
TOTAL - 3655
Location: 100
Indicator: 1
 - Population using safely managed sanitation services (%): 3655
Period: 18
 - 2000 - 2009.0 - 2017
Dim1: 3
 - Urban: 1301
 - Rural: 783
 - Total: 1571
First Tooltip: 2638
 - 0.96 - 64.5 - 100.0
basicHandWashing
TOTAL - 2726
Location: 97
Indicator: 1
 - Population with basic handwashing facilities at home (%): 2726
Period: 18
 - 2000 - 2012.0 - 2017
Dim1: 3
 - Urban: 898
 - Rural: 907
 - Total: 921
First Tooltip: 1306
 - 0.0 - 47.515 - 100.0
cleanFuelAndTech
TOTAL - 3610
Location: 191
Indicator: 1
 - Proportion of population with primary reliance on clean fuels and technologies (%): 3610
Period: 19
 - 2000 - 2009.0 - 2018
First Tooltip: 91
 - 5 - 81.0 - 95